#space{

    background-color: rgb(240, 240, 240);
    padding: 4rem;
  
  }
  
  #items{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(121, 114, 114);
  }
  
  .card{
  
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 1rem;
    background-color: white;
    border-radius: 25px;
    margin-left: 10px;
    margin: 10px;
    
  
  }
  
  .item2{
  
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 1rem;
    height: 20rem;
    background-color: rgb(219, 226, 231);
    border-radius: 25px;
    margin-left: 5px;
    margin: 5px;
    color: rgb(67, 68, 69);
  
  }
  
  h2{
  
    display: flex;
    left: 1rem;
    font-size: 1rem;
    
  
  }
  
  h3{
  
    display: flex;
    left: 1rem;
    font-size: 1rem;
  
  }
  
  
 
  
  .nome{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome2{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome3{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome4{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome5{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome6{

    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome7{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  .nome8{
  
    position: relative;
    text-align: center;
    display: inline;
    left: 0rem;
    top: 0rem;
    text-transform: uppercase;
    
  }
  
  #peso{
  
    position:relative;
  display: flex;
  top: -5.6em;
  left:0.1rem;
    
    
  }

  #altura{
  
    position:relative;
  display: flex;
  top: -8.6em;
  left:0.1rem;
    
  }
  
  
  #m{
  
    position:relative;
    display: flex;
    top:-15.65rem;
    left:1.5rem;
    
  }

 body{
    background-color: rgb(255, 0, 0);
 }

 #id{
  position:relative;
  display: flex;
  top: -1.65rem;
  left:0.1rem;
 }

 #tipo{
  position:relative;
    display: flex;
    top:-3.65rem;
    left:0.1rem;
 }

 #fraqueza{
  position:relative;
  display: flex;
  top: -4.6em;
  left:0.1rem;
 }

 #hablidade{
    position:relative;
    display: flex;
    top: -.6em;
    left:0.1rem;
  }